body {
  width: 1060px;
}

header{
  width: 1020px;
  background: #EDEEF0;
  font-size: 40px;
  text-align: center;
  color:black;
  padding: 5px;
}

#kategorie{
  width: 1000px;
  background: #EDE1E3;
  padding: 15px;
}
/*combinator 1*/
#kategorie > a{
  margin-right: 30px;
  font-size: 18px;
  text-decoration : none;
}

/*pseudo-element 1*/
#kategorie > a::after{
  content: '|';
  padding-left: 30px;
}

article {
  /*flex*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*combinator 2*/
article > div {
  /*float*/
  float:left;
  width: 400px;
  height: 300px;
}

#data{
  /*float*/
  float:right;
  width: 200px;
  height: 270px;
  padding : 15px;
  background: #D1DFE8;
}
/*combinator 3*/
#data > table{
  margin : auto;
  margin-top:70px;
  border: 1px solid #909FA6;
  border-collapse: collapse;
}

td{
  border: 1px solid #909FA6;
}
/*pseudo-class 1*/
td:first-child{
  color:white;
  background: #909FA6;
  padding:10px 15px 10px 15px;
}
/*pseudo-class 2*/
td:last-child{
  background: white;
  padding-left: 20px;
  padding-right: 20px;
}

form {
  /*clear*/
  clear: both;
  background: #FAF0E4;
  width: 1030px;
  margin-bottom: 0px;
}
/*combinator 4*/
form > input {
  width: 100px;
  height: 50px;
  margin-top : 20px;
  margin-bottom: 20px;
  margin-left : 10px
}
/*combinator 5*/
form > a {
  margin-left : 30px;
}

#text_container{
  margin-left: 20px;
  display: none;
}

/*pseudo-element 2*/
#text_container > a::after {
  content: ':';
  padding-left: 20px;
}

#my_id {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-left: 20px;
}

#register {
  display: none;
}

#copy{
  text-align: center;
  font-style: italic;
}
/*combinator 6*/
span > a {
  margin-left: 20px;
}

#map_img {
  width: 50px;
  height: 50px;
  padding-left: 75px;
  margin-top: 20px;
  
}

#kakao_map{
  display:none;
}

#best {
  width: 990px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 100px;
  background-color: #D2FFD2;
}

#init{
  display:none;
}

#check_container{
  display:none;
}

#anony {
  width: 20px;
  height: 20px;
}

/*모바일 환경 대응 구현*/
@media screen and (max-width: 900px){
  article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}